html {
	scroll-behavior:smooth;
}

body {
	margin: 0px;
	background-color: #f7f5ef;
	font-family: 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	font-size: 20px;
}

.contenuto{
	padding: 0 2% 0 2%;
}

.evidenziato {
color: #000000;
font-weight: 700;
font-size: 35px;
}

.testo_grande {
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.paragrafo-sparso{
	padding: 5%;
	text-align: justify;
}

.stroke {
	-webkit-text-stroke: 1px black;
}

.sottotitolo {
	font-size: 30px;
	color: white;
	font-weight: bold;
}

/* navbar */

.logo_img {
	height: 4em;
	width: auto;
}

.navb_img {
	height: 3em;
	width: auto;
}

#navbar-home {
	position: fixed;
	top: 0;
	z-index: 15;
	background-color: white;
	width: 100%;
	margin: auto;
}

.navbar {
	position: sticky;
	top: 0;
	background-color: white;
	width: 100%;
	margin: auto;
}

.img_navbar {
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.a_imgnavbar {
	padding: 20px;
}

table {
	width: 100%;
}

td {
	width: 20%;
	text-align: center;
	font-size: 30px;
}

#scr {
	width: 100%;
	height: auto;
	font-weight: 600;
	color: #000000;
	align-content: center;
}

img.home {
	width: 40px;
	height: auto;
}

.navbar_elements {
	width: 27px;
	height: auto;
}

.navbar_elements:hover {
	width: 40px;
	height: auto;
	transition-duration: 0.35s;
}


/* FINE NAVBAR*/

/* MAIN */
#input-area {
	text-align: center;
	margin: auto;
	width: 50%;
	padding-top: 40px;
}

#encrypt-button,
#decrypt-button,
#delete-button {
	border-radius: 10px;
	border: 2px solid #f64f64;
	background-color: #f64f64;
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin: 10px;
}

.spaziatore {
	margin: 10px 0px 0px 5px;
}

.immaginine {
	width: 60px;
	height: auto;
}

.immagine-feature {
	width: 80px;
	height: auto;
}

.feature {
	text-align: center;
	margin: auto;
	width: 35vw;
}

#displayato,
#displayato_testo {
	color: red;
	text-transform: uppercase;
	display: none;
	padding: 20px;
}

.hero {
	position: relative;
	height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	background-size: cover;
	overflow: hidden;
}

a, a:visited, a:hover, a:active {
	color: #fa2a59;
	text-transform: none;
  }

/*
.hero:after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}*/

.hero_content {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	z-index: 1;
	position: relative;
	text-align: center;
}

#bottone-inizio{
	width: auto;
	height: auto;
	padding: 20px;
	border-radius: 30px;
	color:black;
	background-color: white;
	text-decoration: none;
}


#video_back {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
}

.barra-progressi {
	height: 6px;
	background: #fa2a59;
	width: 0%;
}

.progressi {
	width: 100%;
	height: 6px;
	background: #ccc;
}

.mega-contenitore{
	padding: 5%;
}

.contenitore-centrale {
width: 50%;
text-align: center;
float: none;
margin: auto;
text-decoration: none;
padding-top: 3%;
}

.contenitori-3{
	width: 33%;
	text-align: center;
	float: left;
	margin-top: 5%;
}

.contenitori-2{
	width: 50%;
	text-align: center;
	float: left;
	margin-top: 5%;
}


/* FINE MAIN*/

.footer {
	width: 100%;
}

.footer-element {
	width: 45%;
	float: left;
	
}

.footer-element-copy {
	width: auto;
	float: left;
}

img.footer-img {
	width: 30px;
	height: auto;
	padding: 10px;
}

img.footer-img-contact {
	width: 20px;
	height: auto;
	padding: 10px;
}

.footer-element-right {
	position: absolute;
	right: 0;
	width: auto;
	height: auto;
}

p.footer{
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}
