body {
	margin: 0px;
	background-color: #f7f5ef;
	font-family: 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
}


/* navbar */

.logo_img {
	height: 4em;
	width: auto;
}

.navb_img {
	height: 3em;
	width: auto;
}


.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	width: 100%;
	margin: auto;
}

.img_navbar {
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.a_imgnavbar {
	padding: 20px;
}

table {
	width: 100%;
}

td {
	width: 20%;
	text-align: center;
}

#scr {
	width: 100%;
	height: auto;
	font-weight: 600;
	font-size: 30;
	color: #000000;
	align-content: center;
}

img.home {
	width: 40px;
	height: auto;
}

.navbar_elements {
	width: 27px;
	height: auto;
}

.navbar_elements:hover {
	width: 40px;
	height: auto;
	transition-duration: 0.35s;
}


/* FINE NAVBAR*/

#input-area {
	text-align: center;
	margin: auto;
	width: 50%;
	padding-top: 40px;
}

#encrypt-button, #delete-button {
	border-radius: 10px;
	border: 2px solid #f64f64;
	background-color: #f64f64;
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin: 10px;
}

.spaziatore {
	margin: 10px 0px 0px 5px;
}

.immaginine {
	width: 50px;
	height: auto;
}

.feature {
	text-align: center;
	margin: auto;
	width: 35vw;
}

#displayato {
	color: red;
	text-transform: uppercase;
	display: none;
	padding: 20px;
}